
<footer>
  <div class="link"><a href="https://mighty-taiga-29264.herokuapp.com">Link naar online Heroku app</a></div>
  <div class="creds">
    <p>Copyright &copy; 2017 &#9679 Jeroen Portael &#9679 All rights reserved</p>
  </div>
</footer>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
